#one{
    height: 200px;
    background-color: sandybrown;
    border: 5px solid;
    border-radius: 0.5cm;
    font-size: 30px;
}
#two{
    background-color: cadetblue;
    height: 200px;
    border: 5px solid;
    border-radius: 0.5cm;
    font-size: 30px;
}
#three{
    background-color: khaki;
    color: black;
    height: 200px;
    border: 5px solid;
    border-radius: 0.5cm;
    font-size: 30px;
}
h2{
    color: red;
    font-size: 30px;
}