#no{
    background-color:lightcoral;
    height: 50px;
    font-size: 30px;
    font-family: cursive;
}
#noo{
    background-color: cadetblue;
    color:white;
    font-size: 30px;
    font-family: cursive;
}
#nooo{
    background-color:lightyellow;
    color: black;
    font-size: 30px;
    font-family: cursive;
}
#noooo{
    background-color: cyan;
    color: black;
    font-size: 30px;
    font-family: cursive;
}